// File Name: _code.scss
// Description: 
// Used by: style.scss
// Dependencies: 
// Date created: 20/05/2015
// ------------------------------------------------------------ 

.code{
  font-family: $code;
  background: $lightGrey;
  padding: 5px 8px;
}

.code-block{
  font-family: $code;
  @include rem("font-size", 20);
  display:block;
  width:80%;
  background: $lightGrey;
  padding: 10px 15px;
  margin-bottom: 10px;
  @include roundedCorners(5);
}