// File Name: _heading.scss
// Description: 
// Used by: style.scss
// Dependencies: 
// Date created: 19/05/2015
// ------------------------------------------------------------ 

.heading {
  @include rem("padding", 30, 0);
  background: $grey;

  .row{
    max-width:900px;
  }

  h1{
    color: $darkPurple;
    @include rem("font-size", 50);
  }

  h2{
    @include rem("font-size", 28);
  }

  p{
    @include rem("font-size", 18);
  }

  .github-button {
    @include rem("width", 120);
    @include rem("margin-top", 25);
  }
}