// File Name: _heading.scss
// Description: 
// Used by: style.scss
// Dependencies: 
// Date created: 19/05/2015
// ------------------------------------------------------------ 

.heading {
  @include rem("padding", 30, 0);
  font-family: $helvetica;
  background: $grey;

  h2{
    @include rem("font-size", 28);
  }

  p{
    @include rem("font-size", 18);
  }
  
  .sassysass-logo {
    width: 50%;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($sassySmall) {
      width: 100%;
      display: block;
    }
  }

  .banner-copy {
    width: 48%;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($sassySmall) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .github-button {
    @include rem("width", 120);
    @include rem("margin", 25, 0, 0, 0);

    @include breakpoint($sassySmall) {
      @include rem("margin", 25, auto, 0, auto);
    }
  }
}