// File Name: _num-ist.scss
// Description: 
// Used by: style.scss
// Dependencies: 
// Date created: 20/05/2015
// ------------------------------------------------------------ 

ol{
  margin-left:20px;

  li{
    margin-top:30px;
  }

  ul{
    li{
      margin-top:5px;
    }
  }
}